 <header>
   <% if admin_signed_in? %>
    <%= link_to admin_items_path do %>
    　商品一覧
    <% end %>
    <%= link_to admin_customers_path do %>
    　会員一覧
    <% end %>
    <%= link_to admin_items_path do %>
    　注文履歴一覧
    <% end %>
    <%= link_to admin_genres_path do %>
    　ジャンル一覧
    <% end %>
    <%= link_to destroy_admin_session_path, method: :delete do %>
    　ログアウト
    <% end %>
    <% else %>
    <%= link_to about_path do %>
    　About
    <% end %>
    <%= link_to admin_items_path  do %>
    　商品一覧
    <% end %>
    <%= link_to new_admin_session_path do %>
    　新規登録
    <% end %>
    <%= link_to new_admin_session_path do %>
    　ログイン
    <% end %>
   <% end %>
 </header>
 <h1>商品一覧</h1>
  <table>
    <thead>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </thead>
    <tboby>
     <% @items.each do |item| %>
      <td><%= item.id %></td>
      <td><% link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
       <% if item.is_active %>
       販売中
       <% else %>
       販売停止中
       <% end %>
       </td>
     <% end %> 
    </tboby>
  </table>
   