<header>
 <div class="container-lg12">
  <div class="row">
   <div class="col-lg-8">
     <h2>LOGO</h2>
   </div>
     <% if customer_signed_in? %>
   <div class="col-lg-1 pull-right">
    <%= link_to customers_path do %>
    　マイページ
    <% end %>
   </div>
   <div class="col-lg-1 pull-right">
    <%= link_to items_path do %>
    　商品一覧
    <% end %>
    </div>
    <div class="col-lg-1 pull-right">
    <%= link_to cart_items_path do %>
    　カート
    <% end %>
    </div>
    <div class="col-lg-1 pull-right">
    <%= link_to destroy_customer_session_path, method: :delete do %>
    　ログアウト
    <% end %>
    </div>
    <% else %>
    <div class="col">
    <%= link_to about_path do %>
    　About
    <% end %>
    </div>
    <div class="col">
    <%= link_to items_path  do %>
    　商品一覧
    <% end %>
    </div>
    <div class="col">
    <%= link_to new_customer_registration_path do %>
    　新規登録
    <% end %>
    </div>
    <div class="col">
    <%= link_to new_customer_session_path do %>
    　ログイン
    <% end %>
    </div>
   <% end %>
  </div>
 </div>
</header>
