<header>
   <% if admin_signed_in? %>
    <%= link_to customers_path do %>
    　マイページ
    <% end %>
    <%= link_to items_path do %>
    　商品一覧
    <% end %>
    <%= link_to cart_items_path do %>
    　カート
    <% end %>
    <%= link_to root_path do %>
    　ログアウト
    <% end %>
    <% else %>
    <%= link_to about_path do %>
    　About
    <% end %>
    <%= link_to items_path  do %>
    　商品一覧
    <% end %>
    <%= link_to new_customer_registration_path do %>
    　新規登録
    <% end %>
    <%= link_to new_customer_session_path do %>
    　ログイン
    <% end %>
   <% end %>
 </header>
 
 <div>
  <p>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります
  </p>
 </div>
 <div>
   <h2>新着商品</h2>
   <% @items.each do |item| %>
    <%= image_tag item.get_image(100,100) %>
    <%= item.name %>
    <%= item.price %>
   <% end %>
 </div>
 <%= link_to "全ての商品一覧を見る>",items_path %>
 