<%= render 'header', header: @header %>

 <p id="alert"><%= alert %></p>

 <div>
  <p>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります
  </p>
 </div>
 <div>
   <h2>新着商品</h2>
   <% @items.each do |item| %>
    <%= link_to  item_path(item.id) do %>
    <%= image_tag item.get_image(100,100) %>
    <%= item.name %>
    <%= item.price %>
    <% end %>
   <% end %>
 </div>
 <%= link_to "全ての商品一覧を見る>",items_path %>
 