<%= render 'admin/homes/header', homes: @homes %>

<div>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>
  <h3>会員<%= @customer.id %></h3>
  <h3>氏名
   <%= f.text_field :last_name %>
   <%= f.text_field :first_name %>
  </h3>
  <h3>フリガナ
   <%= f.text_field :last_name_kana %>
   <%= f.text_field :first_name_kana %>
  </h3>
  <h3>郵便番号
   <%= f.text_field :postal_code %>
  </h3>
  <h3>住所
   <%= f.text_field :address %>
  </h3>
  <h3>電話番号
   <%= f.text_field :telephone_number %>
  </h3>
  <h3>メールアドレス
   <%= f.text_field :email %>
  </h3>
  <h3>会員ステータス
   <%= f.radio_button :is_deleted, "true" %>
   <%= f.label :is_deleted, '有効', value: true %>
  
   <%= f.radio_button :is_deleted, "false"  %>
   <%= f.label :is_deleted, '退会', value: false %>
  </h3>
  <%= f.submit '変更を保存' %>
  <% end %>
</div>


