<h3>注文履歴詳細</h3>
  <%= form_with model: @order, url: admin_order_path(@order.id) , method: :patch do |f| %>
   
   <div>
     <h5>購入者</h5>
      <%= link_to admin_customer_path(current_customer.id) do%>
       <%= @order.name %>
       <% end %>
     
     <h5>注文日</h5>
       <%= @order.name %>
     
     <h5>配送先</h5>
       <%= @order.created_at.strftime("%Y/%m/%d") %>
     
     <h5>支払い方法</h5>
       <%= @order.payment_method_i18n %>
     
       <%= f.label :status, "注文ステータス" %>
       <%= f.select :status, Order.statuses_i18n.invert %>
      
      <% end %>
   </div>
   <table>
    <thead>
     <th>商品名</th>
     <th>単価（税込）</th>
     <th>数量</th>
     <th>小計</th>
     <th>制作ステータス</th>
    </thead>
    <tboby>
     <%# @order.each do |order|  %>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
     <%# end %>
    </tboby>
   </table>
   
   <h5>
     
   </h5>