 <%= render 'admin/homes/header', homes: @homes %>
   
<h3>注文履歴一覧</h3>
<div class="container"> 
 <div class="row">
  <div class="col-lg-8">
  <table class="table table-striped">
    <thead>
     <th>購入日時</th>
     <th>購入者</th>
     <th>注文個数</th>
     <th>注文ステータス</th>
    </thead>
    <tboby>
     <% @orders.each do |order| %>
      <tr>
        <td><%= link_to admin_order_path(order.id) do %>
            <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            <% end %>
        </td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td><% total = 0 %>
            <% order.order_details.each do |order_detail| %>
            <% total += order_detail.quantity %> 
            <% end %>
            <%= total %>
        </td>
        <td><%= order.status_i18n %></td>
       </tr>
     <% end %>
    </tboby>
  </table>
  </div>
 </div>
</div>