<h3>注文情報入力</h3>

<%= form_with model: @order, url: orders_path, method: :post do |f| %>
  
  <div class="field">
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method_credit_card, "クレジットカード" %>
  
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method_transfer, "銀行振込" %>
    
  <div class= "field">
    <%= f.radio_button :address, "my_address" %>
    <%= f.label :address, "ご自身の住所" %>
  
    <%= f.radio_button :, "" %>
    <%= f.label :, "" %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name) %>
    
    <%= f.radio_button :, "" %>
    <%= f.label :, "" %>
  </div>
<% end %>
  </div>  
